<div>
	<div class="row">
		<div class="col-12 m-t-30">
			<h4 class="m-b-0">Redeem</h4>
			<br/><br/>
			<form >
				

                 
                  <div class="form-group">
                    <select name="tokenlist" [(ngModel)]="tokenId" class="form-control">
                        <option *ngFor="let catItem of this.tokenList" [ngValue]="catItem">
                          <span >{{catItem}}</span>
                        
                        </option>
                      </select>
                    </div>
				
				
				<button type="submit" class="btn btn-primary" (click)="transferToken()">Redeem</button>
			  </form>
		</div>
	</div>
</div>


