<div>
	<div class="row">
		<div class="col-12 m-t-30">
			<h4 class="m-b-0">Mint Amazon token</h4>
			<br/><br/>
			<form [formGroup]="mintForm" (ngSubmit)="mintToken()">
				<div class="form-group">
				  <label for="exampleInputEmail1">Name</label>
				  <input formControlName="name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Name">
				  </div>
				<div class="form-group">
				  <label for="exampleInputPassword1">Description</label>
				  <input formControlName="description" type="text" class="form-control" placeholder="Enter Description">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Points</label>
					<input formControlName="points" type="text" class="form-control" placeholder="Enter Points">
				</div>
				
				
				<button type="submit" class="btn btn-primary">Submit</button>
			  </form>
		</div>
	</div>
</div>


