<div>
	<div class="row">
		<div class="col-12 m-t-30">
			<h4 class="m-b-0">Mint Amazon token</h4>
			<br/><br/>
			<form [formGroup]="mintForm" (ngSubmit)="mintToken()">
				<div class="form-group">
				  <label for="exampleInputEmail1">Name</label>
				  <input formControlName="name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Name">
				  </div>
				<div class="form-group">
				  <label for="exampleInputPassword1">Description</label>
				  <input formControlName="description" type="text" class="form-control" placeholder="Enter Description">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Points</label>
					<input formControlName="points" type="text" class="form-control" placeholder="Enter Points">
				</div>
				<!-- <div class="form-group">
					<label for="exampleInputEmail1">Image</label>
					<select [(ngModel)]="image" class="form-control">
						<option [ngValue]="https://gateway.pinata.cloud/ipfs/QmddSEeMvJqPhPT9cULvmEkyjvxEMSbV2cfckoZwx5h6Wj"> 
						  <span>50 Points</span>
						</option>
						<option [(ngValue)]="https://gateway.pinata.cloud/ipfs/QmZd9qJexMRdKH1LhMfKsmHZFqyWCQSr2yzo62Qm1ZWhaY"> 
							<span>100 Points</span>
						</option>
						
					  </select>
				</div> -->
				
				<button type="submit" class="btn btn-primary">Submit</button>
			  </form>
		</div>
	</div>
</div>


