<div>
	<div class="row">
		<div class="col-12 m-t-30">
			<h4 class="m-b-0">Whitelist Store</h4>
			<br/><br/>
			<form >
				<div class="form-group">
				  <label for="exampleInputEmail1">Store Address</label>
				    <input name="storeAddress" [(ngModel)]="storeAddress"  type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Address">
				  </div>

                 
                 
				
				
				<button type="submit" class="btn btn-primary" (click)="whitelistAddress()">Submit</button>
			  </form>
		</div>
	</div>
</div>


